<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="/login" method="POST">
        <div>
            <label for="">Enter username</label>
            <input type="text" name = "username">
        </div>
        <div>
            <label for="">Enter password</label>
            <input type="text" name = "password">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>